@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul { 
  display: block; 
  list-style-type: disc; 
  /* -webkit-margin-before: 1em; 
  -webkit-margin-after: 1em; 
  -webkit-margin-start: 0px; 
  -webkit-margin-end: 0px;  */
  -webkit-padding-start: 40px;
}

ol { 
  display: block; 
  list-style-type: decimal; 
  -webkit-padding-start: 40px;
}

.g-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0px;
  background: white;
  cursor: pointer;
  font-weight: bolder;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  width: 45%;
  height: 40px;
  margin-top: 24px;
  margin-bottom: 32px;
  outline: none;
}